/* ======== MAIN STYLES ========== */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 930px;
}

body {
    font-size: 14px;
    font-weight: normal;
    font-family: "Uni Sans Thin CAPS";
    color:  #fff;
}

html-gl {
    display: block !important;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* ======== Fonts ========== */
@font-face {
    font-family: "Uni Sans Thin CAPS";
    src: url("../fonts/uni-sans.thin-caps-webfont.eot");
    src: url("../fonts/uni-sans.thin-caps-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/uni-sans.thin-caps-webfont.woff2") format("woff2"),
    url("../fonts/uni-sans.thin-caps-webfont.woff") format("woff"),
    url("../fonts/uni-sans.thin-caps-webfont.ttf") format("truetype"),
    url("../fonts/uni-sans.thin-caps-webfont.svg#uni_sansthin_caps") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Uni Sans Heavy CAPS";
    src: url("../fonts/uni-sans.heavy-caps-webfont.eot");
    src: url("../fonts/uni-sans.heavy-caps-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/uni-sans.heavy-caps-webfont.woff2") format("woff2"),
    url("../fonts/uni-sans.heavy-caps-webfont.woff") format("woff"),
    url("../fonts/uni-sans.heavy-caps-webfont.ttf") format("truetype"),
    url("../fonts/uni-sans.heavy-caps-webfont.svg#uni_sansheavy_caps") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* general content styles  ============================================ */

.content {
    padding: 0 25px 60px 25px;
    margin: 0 auto;
    text-align: center;
    text-align: center;
    overflow: hidden;
}

/* Headings  ============================================ */

h2 {
    font-size: 36px;
    margin: 0;
    padding: 46px 0 36px 0;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

p.page-title {
    font-family: "Uni Sans Heavy CAPS";
    font-size: 36px;
    margin: 0;
    padding: 85px 0 60px 0;
}

/* orange text  ============================================ */

.orange-text {
    color: #ff8300;
}
/* yellow text  ============================================ */

.yellow-text {
    color: #d9cd94;
}

/* highlighted text  ============================================ */
.highlighted {
    font-size: 18px;
    font-family: "Uni Sans Heavy CAPS";
}

/* Links  ============================================ */
a {
    color: #fff;
}

/**
  * @hover
  */

a:hover {
    color: #b7b7b9;
}

/* github(orange) link  ============================================ */

.github-link {
    color: #eeae50;
    font-size: 24px;
}

/**
  * @hover
  */

.github-link:hover {
    color: #be8a3e;
}

/* button-like links  ============================================ */

.box-link {
    text-decoration: none;
    padding: 12px 22px;
    border: 2px solid #fff;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.box-link.last-in-row {
    margin-right: 0px;
}

/**
  * @hover
  */

.box-link:hover {
    color: #b7b7b9;
    border: 2px solid #b7b7b9;
}


/* Slide-1  ============================================ */

.slide-1 {
    width: 100%;
    min-height: 100%;
    background-image: url(../img/background-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.title {
    padding-top: 145px;
    position: relative;
}

.title img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.slide-1 h1 {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

.slide-1 h3 {
    margin: 0 0 120px 0;
}

/* Slide-2  ============================================ */

.slide-2 {
    width: 100%;
    background-image: url(../img/background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-2 .content {
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.slide-2 h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
}

.slide-2 html-gl {
    font-family: Helvetica, Arial, sans-serif;
}

.why-container {
    height: 280px;
    position: relative;
    margin-bottom: 50px;
}

.why-container h4 {
    margin-bottom: 20px;
}

.justified-text {
    text-align: justify;
}


/* Slide-3  ============================================ */

.slide-3 {
    width: 100%;
    background-image: url(../img/background-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-3 .content {
    max-width: 870px;
    padding-bottom: 80px;
}

.slide-3 html-gl {
    display: inline-block !important;
}

/* Styles for movie-list ============================================ */

.example {
    position: relative;
    text-align: left;
    margin-top: 50px;
    display: inline-block;
    width: 613px;
}

.example html-gl {
    padding: 40px;
    margin: -40px;
}

.movie-preview {
    display: inline-block;
    margin-right: 17px;
}

.movie-preview p img {
    margin-right: 5px;
    vertical-align: text-bottom;
}
/* Styles for controls ============================================ */

.controls {
    width: 245px;
    height: 328px;

    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}

/* Footer ============================================ */

.footer {
    text-align: left;
    margin-top: 70px;
}

.footer a,
.footer p,
.footer div {
    display: inline-block;
}

.slide-3 .box-link {
    margin-right: 20px;
}

.footer p {
    max-width: 400px;
    margin-top: 5px;
    vertical-align: top;
    margin-right: 5px;
}

/* styles for add this buttons ============================================ */
.add-this {
    width: 245px;
    height: 18px;
    float: right;
    margin-top: 10px;
}


/* styles for breakpoints ============================================ */

@media screen and (max-width: 880px) {

    .link-wrapper {
        width: 100%;
        text-align: center;
    }

    .slide-3 .box-link {
        width: 100%;
        padding: 12px 0;
        max-width: 564px;
    }

    .footer p {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 650px) {

    .slide-2 .box-link {
        display: block;
        width: 100%;
        padding: 12px 0;
    }
}

@media screen and (max-width: 720px) {

    .footer p {
        max-width: 100%;
    }

    .add-this {
        float: left;
    }
}
