html {
    overflow: hidden;
    background: black;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', 'Arial';
    font-size: 15px;
    color: white;
    line-height: 24px;
}

#htmlgl-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

p {
    padding: 0;
    margin: 0;
}

.item {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
    box-sizing: content-box;
    transform: translateZ(0px);
    transition: transform 0.1s ease;
    text-align: center;
}

.item.green {
    background-color: lime;
}

.info {
    padding: 24px;
    display: block;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.button {
    height: 50px;
    line-height: 50px;
    border: 2px solid lime;
    color: lime;
    text-align: center;
    transform: translateZ(0px);
}

.carusel {
    transform: translateZ(0px);
    transition: transform 0.1s ease;
}