body, html {
    background-color: black;
    color: lime;
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 24px;
    font-family: "Helvetica Neue", "Helvetica";
}

#app {
    width: 500px;
}

.container {
    width: 500px;
    position: relative;
}

iframe {
    border: 0;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
}

.inputRow {
    text-align: right;
    height: 48px;
}

#textInput {
    display: block;
    line-height: 32px;
    font-size: 24px;
    width: 500px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#record {
    background-color: red;
    color: white;
    border: 0;
    font-size: 24px;
    height: 48px;
    width: 500px;
}

label {
    display: inline-block;
}

input[type=color] {
    display: inline-block;
    right: 0;
}