html-gl {
  display: block;
}

.broadcasts_list {
  margin: 36px 0 0 0;
  padding: 0 0 36px 0;
  /* TODO Implement overflow masks in WebGL*/
  overflow-x: hidden;
}
.broadcasts_list h1 {
  font-family: Conv_InterstatePro-Light;
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 5px 0;
  line-height: 1em;
}
.broadcasts_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.broadcasts_list li {
  display: inline-block;
  width: 186px;
  margin-right: 15px;
}
.broadcast {
  position: relative;
  font-family: "UPCDigital";
  font-size: 16px;
  line-height: 24px;
}
.image_overlay,
.image_background,
.broadcast > img {
  width: 186px;
  height: 270px;
}
.image_background {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
}
.broadcast > img {
  width: 186px;
  height: 270px;
  border: 1px solid #858382;
  box-sizing: border-box;
  opacity: 0.8;
}
.image_overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.2;
}
.broadcast p {
  line-height: 20px;
  margin: 0 0 3px 0;
  padding: 0;
  color: #D2D2D2;
}
.broadcast p img {
  width: 52px;
  height: 24px;
  display: inline-block;
}
.broadcast p > span {
  font-family: UPCDigital-bold;
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  font-size: 16px;
  margin-left: 3px;
}
.broadcast p > span span {
  color: #808080;
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
}
